@page
@model APS_Project.Pages.PublishModel
@{
}
<!--!!!WORK IN PROGRESS!!!-->
<style>
    body {
        color: #ffc7c7;
    }
</style>
<!--<div class="publish" style="padding:20px">
    <div class="container">
        <h3>Publish</h3>
        <hr class="line">
        <div>
            <div>
                <div class="col"><label for="title" style="padding-right:150px">Title</label></div>
                <div class="col"><input class="login" name="title" type="text" placeholder="Title"></div>
                <hr class="line">
                <button class="login-button log-button">Next</button>
            </div>
        </div>
    </div>
</div>-->
<div class="publish" style="padding:20px">
    <div class="container" id="1">
        <h3>Publish</h3>
        <hr class="line">
        <div class="row">
            <div class="col" style="text-align:left">
                <form>
                    <label for="title">Add a title of your recipe</label>
                </form>
                <form>
                    <input class="search" type="text" name="title" placeholder="Title">
                </form>
            </div>
            <div class="col">
                <form action="/action_page.php" style="margin-top:100px">
                    <div class=" row">
                        <label for="img">Select image of your recipe: </label>
                        <input type="file" id="img" name="img" accept="image/*" style="margin-left:10px">
                        <!--<input type="submit">-->
                    </div>
                </form>
            </div>
        </div>
        <hr class="line">
        <button class="next" style="vertical-align:middle" onclick="NextPage()"><span>Next</span></button>
    </div>
    <div class="container" id="2" style="display:none">
        <h3>Publish</h3>
        <hr class="line">
        <p>Ingredience</p>
        <hr class="line">
        <div class="row">
            <div class="col"><button class="back" style="vertical-align:middle" onclick="NextPage()"><span>Go Back</span></button></div>
            <div class="col"><button class="next" style="vertical-align:middle" onclick="NextPage()"><span>Next</span></button></div>
        </div>
    </div>
</div>
<script>
    function NextPage() {
        var x = document.getElementById("1");
        var y = document.getElementById("2");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "block";
        }
    }
</script>



