@page
@model APS_Project.Pages.PublishModel
@{
}
<!--!!!WORK IN PROGRESS!!!-->
<style>
    body {
        color: #ffc7c7;
    }
</style>
<!--<div class="publish" style="padding:20px">
    <div class="container">
        <h3>Publish</h3>
        <hr class="line">
        <div>
            <div>
                <div class="col"><label for="title" style="padding-right:150px">Title</label></div>
                <div class="col"><input class="login" name="title" type="text" placeholder="Title"></div>
                <hr class="line">
                <button class="login-button log-button">Next</button>
            </div>
        </div>
    </div>
</div>-->
<div class="publish" style="padding:20px">
    <form method="post">
        <div class="container" id="1">
            <h3>Publish</h3>
            <hr class="line">
            <div class="row">
                <div class="col" style="text-align:left">
                    <label asp-for="Recipe.Title">Add a title of your recipe</label>
                    <input asp-for="Recipe.Title" class="search">
                    <b><span asp-validation-for="Recipe.Title" class="text-danger"></span></b><br />
                <br />
                    <label asp-for="Category.Name">Add a category</label>
                    <input asp-for="Category.Name" class="search">
                    <b><span asp-validation-for="Category.Name" class="text-danger"></span></b><br />
                </div>
                <div class="col">
                    <div class=" row">
                        <label for="img"><i class="fa fa-camera"></i></label>
                        <input type="file" id="img" name="img" accept="image/*" style="display: none">
                    </div>
                </div>
            </div>
            <hr class="line">
            <button type="button" class="next" style="vertical-align:middle" onclick="NextPage()"><span>Next</span></button>
        </div>
        <div class="container" id="2" style="display:none">
            <h3>Publish</h3>
            <hr class="line">
            <div class="row">
                <div class="col" style="text-align:left">
                    <label asp-for="RecipeIngredient.Ingredient">Ingredient</label>
                    <input asp-for="RecipeIngredient.Ingredient">
                    <b><span asp-validation-for="RecipeIngredient.Ingredient" class="text-danger"></span></b><br />
                    <label asp-for="RecipeIngredient.Quantity">Quantity</label>
                    <input asp-for="RecipeIngredient.Quantity">
                    <b><span asp-validation-for="RecipeIngredient.Quantity" class="text-danger"></span></b><br />
                    <!--<form>
                        <button type="submit">zapisz</button>   
                    </form>-->
                </div>
            </div>
            <!--<div class="row">
            <div class="col" style="text-align:left">
                <form>
                    <label for="recipe">Ingredients</label>
                </form>
                <form>
                    <textarea style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);" name="recipe" cols="50" rows="7" class="recipe-textarea" placeholder="Here write all the necessery ingredients for your dish"></textarea>
                </form>
            </div>
        </div>-->
            <hr class="line">
            <div class="row">
                <div class="col"><button type="button" class="back" onclick="PreviousPage()"><span>Go Back</span></button></div>
                <div class="col"><button type="button" class="next" onclick="NextPage()"><span>Next</span></button></div>
            </div>
        </div>
        <div class="container" id="3" style="display: none" >
            <h3>Publish</h3>
            <hr class="line">
            <div class="row">
                <div class="col" style="text-align:left">
                    <label asp-for="Recipe.Description">Recipe</label>
                    <textarea asp-for="Recipe.Description"  class="recipe-textarea" cols="50" rows="7"></textarea>
                    <b><span asp-validation-for="Recipe.Description" class="text-danger"></span></b><br />
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col"><button type="button" class="back" onclick="PreviousPage()"><span>Go Back</span></button></div>
                <div class="col"><button type="submit" class="login-button log-button" style="float:right">Publish!</button></div>
            </div>
        </div>
    </form>
</div>
<script>
    function NextPage() {
        var x = document.getElementById("1");
        var y = document.getElementById("2");
        var z = document.getElementById("3");
        if (x.style.display === "none") {
            z.style.display = "block";
            y.style.display = "none";
        } else {
            y.style.display = "block";
            x.style.display = "none";
        }
    }
    function PreviousPage()
    {
        var x = document.getElementById("1");
        var y = document.getElementById("2");
        var z = document.getElementById("3");
        if (y.style.display==="block") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            y.style.display = "block";
            z.style.display = "none";  
        }
    }
</script>



