@page
@model APS_Project.Pages.PublishModel
@{}
<style>
    body {
        color: #ffc7c7;
    }
</style>
<div class="publish" style="padding:20px">
    @Model.ERROR
    <form method="post" enctype="multipart/form-data">
        <div class="container" id="1">
            <h3>Publish</h3>
            <hr class="line">
            <div class="row">
                <div class="col" style="text-align:left">
                    <b><label asp-for="inputModel.Title">Add a title of your recipe</label></b>
                    <input asp-for="inputModel.Title" class="search" placeholder="your title">
                    <b><span asp-validation-for="inputModel.Title" class="text-danger"></span></b><br />
                <br />
                    <b><label asp-for="inputModel.Categories">Add a category</label></b>
                    <textarea asp-for="inputModel.Categories" class="recipe-textarea" placeholder="category name" cols="30" rows="1"></textarea>
                    <b><span asp-validation-for="inputModel.Categories" class="text-danger"></span></b><br />
                </div>
                <div class="col" style="text-align:right">
                    <label class="camera-label" for="img"><span><i class="fa fa-camera camera"></i></span></label>
                    <input type="file" id="img" name="image" style="display: none">
                </div>
            </div>
            <div class="col" style="margin-top:45px">
                <hr class="line">
                <a class="back" asp-page="./Index"><span>Cancel</span></a>
                <button type="button" class="next" style="vertical-align:middle" onclick="NextPage()"><span>Next</span></button>
            </div>
        </div>
        <div class="container" id="2" style="display:none">
            <h3>Publish</h3>
            <hr class="line">
            <div class="container">
                <div class="row">
                    <b><label asp-for="inputModel.Ingredient">Ingredient</label></b>
                </div>
                <div class="row">
                    <textarea asp-for="inputModel.Ingredient" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)" cols="50" rows="7" class="recipe-textarea" placeholder="Here write all the necessery ingredients for your dish!"></textarea>
                    <b><span asp-validation-for="inputModel.Ingredient" class="text-danger"></span></b><br />
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col"><button type="button" class="back" onclick="PreviousPage()"><span>Go Back</span></button></div>
                <div class="col"><button type="button" class="next" onclick="NextPage()"><span>Next</span></button></div>
            </div>
        </div>
        <div class="container" id="3" style="display: none" >
            <h3>Publish</h3>
            <hr class="line">
            <div class="container">
                <div class="row">
                    <b><label asp-for="inputModel.Description">Recipe</label></b>
                </div>
                <div class="row">
                    <textarea asp-for="inputModel.Description"  class="recipe-textarea" cols="50" rows="7" placeholder="Describe how to prepare your meal!"></textarea>
                    <b><span asp-validation-for="inputModel.Description" class="text-danger"></span></b><br />
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col"><button type="button" class="back" onclick="PreviousPage()"><span>Go Back</span></button></div>
                <div class="col"><button type="submit" class="login-button log-button" style="float:right">Publish!</button></div>
            </div>
        </div>
    </form>
</div>
<script>
    function NextPage() {
        var x = document.getElementById("1");
        var y = document.getElementById("2");
        var z = document.getElementById("3");
        if (x.style.display === "none") {
            z.style.display = "block";
            y.style.display = "none";
        } else {
            y.style.display = "block";
            x.style.display = "none";
        }
    }
    function PreviousPage()
    {
        var x = document.getElementById("1");
        var y = document.getElementById("2");
        var z = document.getElementById("3");
        if (y.style.display==="block") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            y.style.display = "block";
            z.style.display = "none";  
        }
    }
</script>



