@page
@model APS_Project.Pages.SignUpModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/SignUp.css">
</head>
<body class>
    <div class="signup">
        <t>Sign In</t>
    </div>
</body>
</html>