@page
@model APS_Project.Pages.UserPageModel
@{
}
<div>
    <span>Photo</span>
    <image src="~/Data/Images/"@Model.AppUser.UserPicture style="width:200px;height:200px;"></image>
    <span>Name</span>
    <span>@Model.AppUser.Name</span>
    <span>Last Name</span>
    <span>@Model.AppUser.LastName</span>
    <span>E-mail</span>
    <span>@Model.AppUser.Email</span>
    @if (User.Identity.IsAuthenticated)
    { 
     <form>
         <span>Passowrd change</span>
         <span>E-mail change</span>
     </form>
    }
</div>
<div>
    <span>User recipes</span>
</div>