<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APS_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="background">
    <header>
        <div style="display:flex">
            <span class="menu-button" style="margin-left:30px; margin-top:30px" onclick="openNav()">&#9776;</span>
            <img style="margin-left:auto" src="/Data/Logo.png" alt="Logo">
        </div>
        <hr class="line">

        <div id="mySidenav" class="sidenav">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <h3>@User.Identity.Name</h3>
                    </li>
                    <li class="nav-item ">
                        <a class="menu-button shadow" asp-area="Identity" asp-page="/Account/Manage/PersonalData" style="font-size:24px">My account<i class="fa fa-cog" style="padding-left:10px"></i></a>
                    </li>
                }
                <li class="nav-item ">
                    <a class="menu-button shadow" asp-area="" asp-page="/Index" style="font-size:24px">Home<i class="fa fa-home" style="padding-left:10px"></i></a>
                </li>
                <li class="nav-item ">
                    <a class="menu-button shadow" asp-area="" asp-page="/Publish" style="font-size:24px">Publish<i class="fa fa-upload" style="padding-left:10px"></i></a>
                </li>
                <li class="nav-item ">
                    <a class="menu-button shadow" asp-area="" asp-page="/Myfavourite" style="font-size:24px">My favourites<i class="fa fa-heart" style="padding-left:10px"></i></a>
                </li>
                <li class="nav-item ">
                    <a class="menu-button shadow" asp-area="" asp-page="/MyRecipes" style="font-size:24px">My Recipes<i class="fa fa-book" style="padding-left:10px"></i></a>
                </li>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="menu-button shadow" asp-area="Identity" asp-page="/Account/Logout" style="font-size:24px">Log out<i class="fa fa-sign-out" style="padding-left:10px"></i></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="menu-button shadow" id="register" asp-area="Identity" asp-page="/Account/Register" style="font-size:24px">Sign up</a>
                        </li>
                        <li>
                            <a class="menu-button shadow" id="login" asp-area="Identity" asp-page="/Account/Login" style="font-size:24px">Sign in</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="text-align:center">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
