@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<style>
    body {
        color: #ffc7c7;
    }
</style>
<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <div style="padding-left:100px">
                    <button type="submit" class="login-button log-button">Click here to Logout</button>
                </div>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>