@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="row">
    <div class="col-sm-1">
        <div class="row">
            <form method="post" enctype="multipart/form-data" asp-page-handler="Image">
                <div class="col" style="text-align:right">
                    <label class="camera-label" for="img"><span><i class="fa fa-camera camera"></i></span></label>
                    <input type="file" id="img" name="image" style="display: none">
                </div>
                <button type="submit" class="login-button log-button btn btn-primary">Let's go!</button>
            </form>
        </div>
        <div class="row">
            <form method="post" enctype="multipart/form-data" asp-page-handler="Desc">
                <div class="container">
                    <div class="row">
                        <label asp-for="Description" style="padding-right:100px">Description</label>
                        <input asp-for="Description" class="search" placeholder="Description"> 
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <button type="submit" class="login-button log-button btn btn-primary">Let's go!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="colcol-sm-1" style="float:left; width:50%;">
        <img class="profile-img" src="~/Data/Images/@Model.Userr.UserPicture">
    </div>
    <div class="col-sm-4" style="float:left; width:50%;">
        <fieldset class="scheduler-border" style="float:left">
            <legend class="scheduler-border"><i>About me:</i></legend>
            <p>@Model.Userr.Description</p>
        </fieldset>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
